#### 인증키

In [ ]:
6v2jnKiXW6qdXR2m8iS0XLs%2FcS34X1Qwt6E5VNsrWRaIA3aCBFBrXjpHpIg4c%2BztHNIbMMRxJ19AQmsvnBN1Dg%3D%3D

#### url 정보
- numOfRows
    - 한 페이지 결과 수
    - Default: 10
    <br><br>

- pageNo 
    - 페이지 번호
    - Default: 1
    <br><br>
    
- dataType
    - 요청자료형식(XML/JSON)
    - Default: XML
    <br><br>
    
- regId 
    - 예보구역코드
    - 감자(평창)	11D10503
    - 당근(밀양)	11H20601
    - 대파(홍천)	11D10302
    - 양배추(강릉)	11D20501
    - 양파(무안)	21F20804
    <br><br>
    
- tmFc 
    - 발표시각
    - 일 2회(06:00,18:00)회 생성 되며 발표시각을 입력
    - 최근 24시간 자료만 제공

In [2]:
# numOfRows = 한 페이지 결과 수 Default: 10
# pageNo = 페이지 번호 Default: 1
# dataType = 요청자료형식(XML/JSON) Default: XML
# regId = 예보구역코드
# tmFc = 발표시각, -일 2회(06:00,18:00)회 생성 되며 발표시각을 입력 -최근 24시간 자료만 제공

url = 'http://apis.data.go.kr/1360000/MidFcstInfoService/getMidTa?serviceKey=6v2jnKiXW6qdXR2m8iS0XLs%2FcS34X1Qwt6E5VNsrWRaIA3aCBFBrXjpHpIg4c%2BztHNIbMMRxJ19AQmsvnBN1Dg%3D%3D&numOfRows=10&pageNo=1&regId=11D20501&tmFc=202308010600'

In [2]:
import requests
import json
import pandas as pd

local_code = ['11D10503', '11H20601', '11D10302', '11D20501', '21F20804']
temp = []

for i in local_code:
    url = f'http://apis.data.go.kr/1360000/MidFcstInfoService/getMidTa?serviceKey=6v2jnKiXW6qdXR2m8iS0XLs%2FcS34X1Qwt6E5VNsrWRaIA3aCBFBrXjpHpIg4c%2BztHNIbMMRxJ19AQmsvnBN1Dg%3D%3D&numOfRows=10&pageNo=1&dataType=JSON&regId={i}&tmFc=202308170600'    
    response = requests.get(url)
    contents = response.text
    json_ob = json.loads(contents)
    df = json_ob['response']['body']['items']['item'][0]
    df_list = [df['taMin7'], df['taMax7']]
    temp.append(df_list)
pd.DataFrame(temp)
# 감자, 당근, 대파, 양배추, 양파

    0   1
0  20  29
1  24  32
2  22  31
3  24  29
4  24  31

In [11]:
json_ob

{'response': {'header': {'resultCode': '99',
   'resultMsg': '최대 조회 기간은 오늘 기준으로 1일 전까지입니다.'}}}

    0   1
0  21  30
1  25  34
2  24  31
3  24  31
4  23  31

In [98]:
data3 = json_ob['response']['body']['items']['item'][0]

In [131]:
data3_list = [data3['taMin7'], data3['taMax7']]

In [132]:
data3_list

[24, 33]

In [111]:
pd.DataFrame(data3_list)

   평창
0  24
1  33

In [7]:
url = f'http://apis.data.go.kr/1360000/MidFcstInfoService/getMidTa?serviceKey=6v2jnKiXW6qdXR2m8iS0XLs%2FcS34X1Qwt6E5VNsrWRaIA3aCBFBrXjpHpIg4c%2BztHNIbMMRxJ19AQmsvnBN1Dg%3D%3D&numOfRows=10&pageNo=1&dataType=JSON&regId=11D10503&tmFc=202308010600'    
response = requests.get(url)
contents = response.text
json_ob = json.loads(contents)
body = json_ob['response']['body']['items']

KeyError: 'body'

In [8]:
data = body['item']

NameError: name 'body' is not defined

In [64]:
data2 = data[0]

In [65]:
pd.DataFrame({'최고기온' : [data2['taMax7']], '최저기온' : [data2['taMin7']]})

   최고기온  최저기온
0    31    22